*,
::before{
    margin: 0;
    padding: 0;
}
::after{
    margin: 0;
    padding: 0;
}
body{
    background-color: #464242;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#header-container {
    background-color: #464242;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
#menu-container{
    display: flex;
    gap: 40px;
    color: white;
}
#logo-photo{
    width: 100px;
    height: 100px;
}
#about-menu{
    text-decoration: underline;
}
#hire-me-container{
    background-color: transparent;
    border-radius: 30px;
}
#hire-me-container button{
    padding:7px 20px;
    border-radius: 10px;
    transition:all;
    background-color: transparent;   
}
#hire-me-button{
    background-color: transparent;
    border: 3px solid white;
    color: white;
}
#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
}
#about-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 15%;
    margin-bottom: 20px;
    background: #FB9C16;
    display: flex;
    align-items: center;
    justify-content: center;
}
#names{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    top:0px
}
.about-circle{
    font-weight:lighter;
    color: white;
    font-size: x-large;
    padding-left: 8vh;
}
#photo{
    width: 40%;
    height: 40%;
    background: #DD9521;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;    
}
#circle-image{
    width: 100%;
    object-fit: cover;
    border: 1px solid #DD9521;
    background: #DD9521;
    border-radius: 50%;
   
}
#container-1{
    display: flex;
    margin-bottom: 20vh;
    gap: 5vh;
}
#container-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100%;
    margin-bottom: 5vh;
}
#discribution{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
#play {
    color: white;
    font-size: 50px;
}
#social-medias{
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    color: white;
}
p{
    color: white;
}
span{
    color: white;
}
#names{
}
h1{
    color: white;
    font-size: 10vh;
}
h6{
    color: white;
}
#nf{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color: white;
    gap: 5px;
}
#dot{
    color: #DD9521;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
::after {
    margin: 0;
    padding: 0;
}
#table-continer{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh
}
table{
    width: 100%;
    border: 1px solid rgba(117, 112, 112, 0.5);
    border-collapse: collapse;
    overflow: hidden;
    border-radius:15px;
    background:#db9d38;
    color: white;
}
#title {
    align-items: center;
    font-size: 5vh;
}
table {
    width: 90%;
    border: 1px solid rgba(117, 112, 112, 0.541);
    border-collapse: collapse;
    
}
th{
    background: linear-gradient(
        90deg,
        #6d28d9,
        #7c3aed,
    );
    text-align: left;
    border: 1px solid rgba(68, 67, 67, 0.507);
    padding: 10px;
    color: white;
    font-size: 20px;
}
td {
    border-top: 1px solid rgb(110, 109, 109);
    color: white;
    padding: 10px;
    text-align: center;
    border-right: 1px solid rgb(110, 109, 109);
}
td:first-child {
    text-align:left;
    font-weight:bold;
    padding-left: 30px;
    border-right: 1px solid rgb(110, 109, 109);
}
tr:hover {
    background: #7e5411;
}
i {
    padding-right: 10px;
}
#git {
    color:#9b8158
}