@media(max-width:850px){
    #body {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    #name-input{
        width: 100%;
    }
}
@media(max-width:580px){
    .boxes {
        width: 100%;
    }
    #hire-me-container {
        display: none;
    }
    #menu-container{
        padding-right: 10%;
    }
}